nose
mock;python_version<"3"
codecov
coverage
flake8
SQLAlchemy
transaction
zope.sqlalchemy
webtest==2.0.23;python_version<"3"
webtest;python_version>="3"
lxml
pyexcel-ods>=0.1.0
pyexcel-xls>=0.1.0
pyexcel-xlsx>=0.1.0
